body {
    background-image: url(./nattu-adnan-Ai2TRdvI6gM-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
}

.container-fluid {
    text-decoration: none;
    font-size: 30px;
    color: white;
    /* text-shadow:
          0 0 2px white; */
}

span {
    color: white;
    size: 30px;
  }

span:hover {
    color: gold;
  }

.survey {
    color: darkgoldenrod;
}
.survey:link{
    padding: 3px;
    text-decoration: none;
    font-size: 30px;
    /* background-color: white;
    border: 1px gold solid; */
    border-color: gold;
    /* border-radius: 5px; */
}
.survey:hover{
    font-size: 40px;
    transition: 300ms linear;
    color: darkgoldenrod;
}
